* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.bodoni-moda-logo {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
    display: flex;
    flex-direction: row;
    height: 70vw;
}

.leftimage {
    display: flex;
    background-image: url("images/ocean_sunset.jpg");
    background-size: cover;
    background-position: center;
    width: 40vw;
    flex-direction: column;
}

.upperspace {
    height: 30vh;
}

.logo {
    background-color: rgb(0, 0, 0, .2);
    height: 15vh;
}

.logo-text {
    text-align: center;
    padding: 3vh;
    color: white;
    font-size: 64px;
}

.aboveform {
    height: 10vh;
}

.form {
    display: flex;
    width: 60vw;
    flex-direction: column;
}


.forms{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whitespace {
    height: 15vh;
}

.aboutus{
    padding: 12px;
    background-color: rgb(199, 245, 245, 0.3);
}
.about-us-text{
    font-size: 24px;
}

.doubleinputs{
    display: flex;
    flex-direction: row;
    margin: 2vh;
}

.individualinput{
    display: flex;
    flex-direction: column;
    margin: 1vw;
}

.individualinput:focus {
    border: blue;
}

.otherfunctions{
    width: 30vh;
    align-self: center;
}
.create-acc {
    background-color: #e0836e;
    color: white;
    border-radius: 5%;
    width: 10vw;
    height: 4vh;
    font-size: 16px;
    transition: 0.2s;
    font-weight: bold;
    margin: 2vh;
}

.create-acc:hover{
    background-color: powderblue;
    color: white;
}